RewriteEngine on

# MAC下如果Rewrite无效请取消以下注释
# 并将username改为您系统用户名
# 将YourPath改为项目所在目录
#RewriteBase /~username/YourPath

RewriteRule  ^/?$ apps/index.php [NC,QSA,L] #首页
RewriteRule  view/(\w+)/(\w+)$ apps/index.php?m=$1&c=$2 [NC,QSA,L]
RewriteRule  api/(\w+)/(\w+)/(\w+)$ apps/api.php?m=$1&c=$2&t=$3 [NC,QSA,L]
RewriteRule  admin/(\w+)/(\w+)$ apps/admin.php?m=$1&c=$2 [NC,QSA,L]
RewriteRule  startup/(\w+)/(\w+)$ startup/index.php?m=$1&c=$2 [NC,QSA,L]
